################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TFSMergingTool/v15
/Output
/packages
/Testing Environment/UnitTests/obj/Debug
/Testing Environment/UnitTests/bin/Debug
/Testing Environment/UnitTests/bin/Release
/Testing Environment/UnitTests/obj/Release
